html{
    background-color: wheat;
    background-image: radial-gradient(black 76%, transparent 0),
    radial-gradient(goldenrod 72%, transparent 0),
    radial-gradient(black 68%, transparent 0),
    radial-gradient(goldenrod 64%, transparent 0),
    radial-gradient(black 60%, transparent 0),
    radial-gradient(goldenrod 56%, transparent 0),
    radial-gradient(black 52%, transparent 0),
    radial-gradient(goldenrod 48%, transparent 0),
    radial-gradient(black 44%, transparent 0),
    radial-gradient(goldenrod 40%, transparent 0),
    radial-gradient(black 36%, transparent 0),
    radial-gradient(goldenrod 32%, transparent 0),
    radial-gradient(black, transparent 0),
    radial-gradient(goldenrod 24%, transparent 0);  
    background-size: 3em 3em;
    background-repeat: repeat-y;
    background-position: 0 0, 1em 0, 2em 0, 3em 0, 4em 0, 5em 0, 6em 0, 7em 0, 8em 0, 9em 0, 10em 0, 11em 0, 12em 0, 13em 0;
}
h2,h3,h4 {
    text-align: center;
    font-family: 'Bangers', cursive;
    opacity: .7;
    text-decoration: overline;
}
table {
    width: 600px; 
    margin: auto; 
}

th {
    font-family: 'Bahianita', cursive;
    border: 1px solid goldenrod;
    background-color: goldenrod;
    font-size: 25px;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}
tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}
td {
    font-family: 'Bahianita', cursive;
    text-align: center;
    border: 1px solid black;
    color: goldenrod;
    background-color: black;
    font-size: 18px;
}

form {
    padding-top: 20px;
    text-align: center;
}
label {
    font-family: 'Bahianita', cursive;
    font-size: 25px;
    color:black;

}
p {
    font-family: 'Bahianita', cursive;
    margin: auto;
    color:goldenrod;
    padding: 10px;
    width: 320px;
    font-family: 'Bahianita', cursive;
}

textarea {
    font-family: 'Bahianita', cursive;
    font-size: 25px;
    display: block;
    width: 320px;
    margin-bottom: 10px;
    line-height: 30px;
    margin: auto;
    border: 2px solid goldenrod;
    border-radius: 10px;
    outline: none;
}
::placeholder {
    color: #999; 
    text-align: center;
}
select {
    font-family: 'Bahianita', cursive;
    font-size: 25px;
    width: 324px;
    padding: 10px 20px;
    color:black;
    border: 2px solid goldenrod;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
}
input[type="submit"]{
    font-family: 'Bahianita', cursive;
    margin-top: 30px;
    background: linear-gradient(to bottom,goldenrod,wheat);
    border: .5px solid goldenrod;
    color: black;
    font-size: 25px;
    width: auto;
    padding: 0 50px;
    line-height: 30px;
    border-width: 1;
    border-radius: 10px;
    opacity: .5;
    outline: none;
}
input[type="submit"]:hover{
    background: goldenrod;
    color: black;
    opacity: .6;
}
input[type="submit"]:active{
    color:white;
    opacity: 1;
}
input[type="text"]{
    border: 2px solid goldenrod;
    line-height: 30px;
    width: 320px;
    border-radius: 10px;
    outline: none;
}

#mid {
    margin-right: 12px;
}
#uk {
    margin-left: 15px;
}
